Quiz 1

In [4]:
#2

print(9/2)

print(9.0/2)

print(int(9/2))

print(round(9/2))

print(round(7/2))

#round()는 사사오입 원칙을 따른다. 반올림할 자리의 수가 5이면 반올림 할 때 앞자리의 숫자가 짝수면 내림하고 홀수면 올림 한다.

print("9/2")

4.5
4.5
4
4
4
4
9/2

In [6]:
#3

'H20'*3

#type('H2O')

'H20H20H20'

In [9]:
#4

5 - 2 * 3 ** 4

-157

In [11]:
#5

def average_grade(a,b,c):
    
    return (a+b+c)/3

average_grade(80,95,90)

88.33333333333333

In [27]:
#6

def a():
    return 1

def b():
    x = a()
    return x + 1

def c(x):
    return b() + x

print(c(1))

3

In [12]:
#7

abs(min(-4,6,max(2,8)))

4

In [30]:
#8

def c_to_f(x):
    
    y = 1.8 * x + 32
    
    return y

c_to_f(40)

104.0

Quiz 2

In [39]:
#1

print('3.0' * 5)

print(3 * 5)
print(type(3 * 5))

print(3.0 * 5)
print(type(3.0 * 5))

print(str(3 * 5))
print(type(str(3 * 5)))

print(str(3.0 * 5))
print(type(str(3.0 * 5)))

3.03.03.03.03.0
15
<class 'int'>
15.0
<class 'float'>
15
<class 'str'>
15.0
<class 'str'>

In [62]:
#2

print('abc' < 'abd')

print('SD' in 'GSDS')

print("" in 'abc')

print('abcd' < 'abc')

print("A" < 'B')

print(ord('c') < ord('d'))

#참고
print('A' < 'a')

print('A:',ord('A'),'a:',ord('a'))

True
True
True
False
True
True
True
A: 65 a: 97

In [16]:
#3

gsds, x = map(input("ender your number, id: "))

print(x)
print(gsds)

#print(int(gsds) * 4)

ender your number, id: 2
enter:  3

TypeError: 'str' object is not callable

In [91]:
#4

data = False
science = 1

print(not(data or science))

print(not(data and science))

False
True

In [18]:
#5

#!pip install pandas

import pandas as pd

In [ ]:
from math import sqrt

In [21]:
#6

import math as mt

print(mt.floor(-3.3))

print(mt.ceil(-3.3))

print(mt.floor(3.3))

print(mt.ceil(3.3))

-4
-3
3
4

In [90]:
#7

print('HELLOhello'.count('o'))

print(ord('o'))

1
111

Quiz 3

In [31]:
#1
a = 14

example = [a, 12, "OM", 10]

type(example)

example[0]

14

In [33]:
#2

numbers = [0,4,1,2,6]

numbers.insert(3,8)
print(numbers)

numbers.sort(reverse = False)
print(numbers)

numbers.index(4)
print(numbers.index(6))
print(numbers.index(0))

numbers.extend([1,2,3])
print(numbers)

numbers.append([1,2,3])
print(numbers)

numbers.append(1,2,3)

#append method is used to add single element to list vs. extend method is used to add multiple element to list

[0, 4, 1, 8, 2, 6]
[0, 1, 2, 4, 6, 8]
4
0
[0, 1, 2, 4, 6, 8, 1, 2, 3]
[0, 1, 2, 4, 6, 8, 1, 2, 3, [1, 2, 3]]

TypeError: list.append() takes exactly one argument (3 given)

In [41]:
#3

list_a = [[1,2,3],[4,5,6],[7,8,9]]

answer = []

for i in list_a:
    print(i)
    for j in i[::-2]:
        print(j)
        answer.append(j)
        
print(answer)

#[start:stop:step], skips one element for every two elements (reverse if '-')

[1, 2, 3]
3
1
[4, 5, 6]
6
4
[7, 8, 9]
9
7
[3, 1, 6, 4, 9, 7]

In [35]:
#4

stock_data = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]

print("right answer")

for company in stock_data:
    #print(company)
    print(stock_data.index(company), company[-1])
    
print("wrong answer 1")
    
for company in stock_data:
    print(company)
    for index in range(len(company)):
        print(index, company[-1])

right answer
0 4
1 8
2 12
wrong answer 1
[1, 2, 3, 4]
0 4
1 4
2 4
3 4
[5, 6, 7, 8]
0 8
1 8
2 8
3 8
[9, 10, 11, 12]
0 12
1 12
2 12
3 12

In [131]:
print("wrong answer 2")
    
for company in stock_data:
    for close in company:
        print(company, close)

wrong answer 2
[1, 2, 3, 4] 1
[1, 2, 3, 4] 2
[1, 2, 3, 4] 3
[1, 2, 3, 4] 4
[5, 6, 7, 8] 5
[5, 6, 7, 8] 6
[5, 6, 7, 8] 7
[5, 6, 7, 8] 8
[9, 10, 11, 12] 9
[9, 10, 11, 12] 10
[9, 10, 11, 12] 11
[9, 10, 11, 12] 12

In [134]:
print("wrong answer 3")
    
for company in stock_data:
    for close in company:
        print(company.index(), close)

wrong answer 3

TypeError: index expected at least 1 argument, got 0

In [141]:
print("wrong answer 4")

while stock_data:
    company = stock_data.pop()
    print(company, company[-1])

#pop: removes last times in the list

wrong answer 4
[9, 10, 11, 12] 12
[5, 6, 7, 8] 8
[1, 2, 3, 4] 4

In [144]:
#alternative answer

i = 0 
while stock_data:
    company = stock_data.pop(0)
    print(i, company[-1])
    i = i + 1

0 4
1 8
2 12

In [49]:
#5

stock = [['abc', [1,2,3,4]],['def',[5,6,7,8]]]

print(stock[0][1][0])

for com in stock:
    print(com)
    print(com[0], com[1][1] - com[1][2], com[1][0] - com[1][-1])

1
['abc', [1, 2, 3, 4]]
abc -1 -3
['def', [5, 6, 7, 8]]
def -1 -3

In [50]:
while stock:
    com = stock.pop()
    print(com[0], com[1][1] - com[1][2], com[1][0] -com[1][-1])

def -1 -3
abc -1 -3

In [59]:
#6

exa = list([1,2,3,4,5])
print("exa", exa)

exb = set([1,2,3,4,5,1])
print("exb", exb)

print(exa[-1])

print(exa[1:3:2])
print(exa[0:5:2])

exb.add(1)
print(exb)
#already have, no effect

exb.add('abc')
print(exb)

exc = ["xyz", "wyk"]
#alternative
exb.update(exc)
print(exb)

#exa.add(1)
#print(exa)

#add method used to add single element to set, multiple element use "update"

exa [1, 2, 3, 4, 5]
exb {1, 2, 3, 4, 5}
5
[2]
[1, 3, 5]
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'abc'}
{1, 2, 3, 4, 5, 'xyz', 'abc', 'wyk'}

In [175]:
#7

seta = set([2,4,6,8,10])

setb = set([1,3,5,6,9,10])

#부분집합 여부
print(seta.issubset(setb))

#교집합
print(setb.intersection(seta))

#대칭 차집합
print(seta.symmetric_difference(setb))

#차집합
print(seta.difference(setb))

#합집합
print(seta.union(setb))

False
{10, 6}
{1, 2, 3, 4, 5, 8, 9}
{8, 2, 4}
{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [61]:
#8

ex_dict = {'a':'A', 'b':'B', 'c':'C'}

print(ex_dict.keys())
print(ex_dict.values())

#get function
print(ex_dict.get('a'))
print(ex_dict.get('c X', 'd'))

print(ex_dict.setdefault('a', 'G'))
print(ex_dict.setdefault('c X', 'd'))

print(ex_dict.pop('c X', 'f'))
#pop the key not value

print(ex_dict.items())

dict_keys(['a', 'b', 'c'])
dict_values(['A', 'B', 'C'])
A
d
A
d
d
dict_items([('a', 'A'), ('b', 'B'), ('c', 'C')])

In [198]:
#9

ex_dict2 = {'3':ex_dict, 'exp': [1,2,3], 'quiz':'03:45'}

print(ex_dict2.setdefault('3').get('b'))

print(ex_dict2.get('3')['c'])

print(ex_dict2.get('quiz')[0:2])

print(ex_dict2.pop('3'))

print(ex_dict2.values())

B
C
03
{'a': 'A', 'b': 'B', 'c': 'C'}
dict_values([[1, 2, 3], '03:45'])

In [62]:
#10

grade_tup_tup = (('a',90,'A'),('b', 85, 'B'),('c', 75, 'C'))
grade_list_tup = [('a',90,'A'),('b', 85, 'B'),('c', 75, 'C')]
grade_list_list = [['a',90,'A'],['b', 85, 'B'],['c', 75, 'C']]
grade_tup_list = (['a',90,'A'],['b', 85, 'B'],['c', 75, 'C'])

In [63]:
grade_tup_tup[0][1] = 10

#tuple assignment X

TypeError: 'tuple' object does not support item assignment

In [204]:
grade_list_tup[0][1] = '3'

TypeError: 'tuple' object does not support item assignment

In [213]:
#grade_tup_list[1] = ('d', 80, 'D')

grade_list_tup[1] = ('d', 80, 'D')

grade_list_tup[1] = ['d', 80, 'D']